@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color: #080C2E;
        background-color: #F1F4F5;
        font-family: "poppins", Poppins, sans-serif;
    }
}